img {
    height: 150px
  }
  
  .description {
    font-size: 20px;
  
  }
  
  .cook-time {
    font-weight: bold;
  
  }
  
  p,
  .time {
    color: gray;
  }
  
  .external-link {
    color: SeaGreen;
  }
  
  .ingredients li {
  list-style: square;
  
  }
  
  h1, h2, p,
  li {
    font-family: Helvetica;
  
  }